/* Video Background */

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(1.6);
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85vh;
    color: white;
    padding-right: 10%;
}

/* Form container */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 40;
    width: 300px;
    background: rgba(102, 104, 102, 0.304);
    padding: 75px;
    border-radius: 45px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    animation: fadeIn 1s ease-in-out;
}

h2 {
    text-align: center;
    margin: 0;
    
}

input {
    width: 100%;
    padding: 15px;
    margin-left: -15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #022d57;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0777e7;
}

p {
    text-align: right;
}

a {
    color: #0669cb;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
